@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root{
  --purple: #5E50A1;
  --yellow: #FBB017;
  --dark-black: #1F2A36;
  --light-black: #46505C;
  --dark-grey: #9EA0A5;
  --light-grey: #E2E5ED;
  --white: #FFFFFF;
  --dark-white: #F6F7F8;
}

html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
